{% load staticfiles %}
<html>
	<head>
		<title>DroMe</title>
		

		<link rel="stylesheet" href="{%static "Drome/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{%static "Drome/bootstrap-theme.min.css" %}">
		<link rel="stylesheet" href="{%static "Drome/style.css" %}" media="screen">
		<link rel="shortcut icon" href="{%static "resources/logo/drome.ico" %}">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

	</head>
	<body>
		<div class="fullPage">
			<!--<div class="header Page_10">
				<div class="name">KRON</div>
			</div> -->
			<div class="largeHeader" id="largeHeader">
				<canvas id="bgCanvas"></canvas>
				<div class="container Page_100">
					<div class="logoAndSignUp">
						<div class="justLogo">

							<img src="{%static "resources/logo/drome.png" %}" class = "imageLogo" />
						</div>
						<div class="justText">
							<div class="projectNameHolder">
								<div class="projectName">DroMe</div>
							</div>
							{% if user.id %}
								<h1>Hello {{user.email}} </h1>

								<div class="SignInButton">
									<a onclick="location.href='{% url 'account_logout' %}?next={{request.path}}';"><input type="Button" value="Sign Out" class="SignIn btn"></a>
								</div>
							{% else %}
							<div class="SignInButton">
								<a onclick="location.href='/accounts/google/login/?next={{request.path}}';"><input type="Button" value="Sign in with Google" class="SignIn btn"></a>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="footer Page_5"><div class="footer-text">&copy; JMV</div></div> -->
		</div>

		<!--<script type="text/javascript" src="{% static 'kronFrame/courseClash.js' %}"></script> -->


		<script src="{%static "resources/js/TweenLite.min.js" %}"></script>
		<script src="{%static "resources/js/EasePack.min.js" %}"></script>
		<script src="{%static "resources/js/rAF.js" %}"></script>
		<script src="{%static "resources/js/connect.js" %}"></script>
	</body>
</html>
